---
- name: Deploy Java WAR to Tomcat
  hosts: webservers
  become: yes

  tasks:
    - name: Copy WAR file
      copy:
        src: /var/lib/jenkins/workspace/Ansible-Project/target/Farid-Ansible.war
        dest: /opt/tomcat/webapps/Farid-Ansible.war
        owner: tomcat
        group: tomcat
        mode: '0644'

    - name: Restart Tomcat
      shell: nohup /opt/tomcat/bin/shutdown.sh && nohup /opt/tomcat/bin/startup.sh &
