---
- name: Deploy Spring Boot WAR to Tomcat
  hosts: webservers
  become: yes

  vars:
    app_name: Farid-Ansible

  tasks:
    - name: Stop Tomcat
      shell: "sh /opt/tomcat/bin/shutdown.sh"
      ignore_errors: yes

    - name: Remove old WAR
      file:
        path: "/opt/tomcat/webapps/{{ app_name }}.war"
        state: absent
      ignore_errors: yes

    - name: Remove exploded app folder
      file:
        path: "/opt/tomcat/webapps/{{ app_name }}"
        state: absent
      ignore_errors: yes

    - name: Copy new WAR
      copy:
        src: "../target/Farid-Ansible.war"
        dest: "/opt/tomcat/webapps/Farid-Ansible.war"

    - name: Start Tomcat
      shell: "nohup sh /opt/tomcat/bin/startup.sh &"
