---
- name: Deploy WAR to Tomcat Server
  hosts: webservers
  become: yes

  tasks:
    - name: Copy WAR file to Tomcat webapps
      copy:
        src: "{{ workspace }}/target/Farid-Ansible.war"
        dest: /opt/tomcat10/webapps/Farid-Ansible.war
        mode: '0644'

    - name: Restart Tomcat service
      service:
        name: tomcat
        state: restarted
