---
- name: Install Java 17 and Tomcat on Amazon Linux 2023
  hosts: webservers
  become: yes

  tasks:
    - name: Install Java 17 (Amazon Corretto)
      dnf:
        name: java-17-amazon-corretto
        state: present

    - name: Create Tomcat group
      group:
        name: tomcat

    - name: Create Tomcat user
      user:
        name: tomcat
        group: tomcat
        home: /opt/tomcat
        create_home: yes

    - name: Download Apache Tomcat 9
      get_url:
        url: https://dlcdn.apache.org/tomcat/tomcat-10/v10.1.49/bin/apache-tomcat-10.1.49-fulldocs.tar.gz
        dest: /tmp/apache-tomcat.tar.gz

    - name: Extract Tomcat files
      unarchive:
        src: /tmp/apache-tomcat.tar.gz
        dest: /opt/tomcat
        remote_src: yes

    - name: Rename extracted folder to tomcat
      command: mv /opt/tomcat/apache-tomcat-10.1.49 /opt/tomcat/latest
      args:
        removes: /opt/tomcat/apache-tomcat-10.1.49

    - name: Change permissions for Tomcat user
      file:
        path: /opt/tomcat
        state: directory
        recurse: yes
        owner: tomcat
        group: tomcat

    - name: Start Tomcat server
      shell: nohup /opt/tomcat/latest/bin/startup.sh &

